.container-vnpay {
  min-height: 550px;
}
.vnpayform {
  margin-top: 150px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.vnpayform h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1890ff;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
