/*** Topbar Start ***/
.fixed-top {
  transition: 0.5s;
  background: black;
  border: 0;
  margin-top: 30px;
  position: absolute fixed;
  width: 100%;
  z-index: 1000;
}

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
  padding: 30px 15px;
  font-size: 16px;
  transition: 0.5s;
}

.navbar {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .navbar-brand {
  margin-right: 20px; /* Adjust as needed for spacing */
}

.navbar .navbar-nav.align-items-center {
  display: flex;
  align-items: center;
}

.btn-search {
  margin-left: 10px; /* Adjust for spacing between elements */
}

.navbar-light .navbar-nav .nav-link.active {
  /* color: rgba(0, 0, 0, .9); */
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 5px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    transition: 0.5s;
    opacity: 0;
    width: 100%;
  }

  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  border-radius: 10px !important;
  transition: 0.5s;
  opacity: 1;
}

#searchModal .modal-content {
  background: rgba(255, 255, 255, 0.8);
}

/*** Navbar End ***/

.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 9px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
  background: #fff;
  color: green;
  transition: 250ms;
}

@media (max-width: 960px) {
  .nav-links-mobile {
    display: block;
  }
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin: 0px;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--bs-primary);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: var(--bs-primary);
  color: #fff;
}
input:not([type="range"]) {
  touch-action: manipulation;
  border-radius: 10px;
}

.message-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1040; /* Ensures the layer is displayed above all other elements */
  max-width: 400px; /* Max width of the message box */
  text-align: center; /* Center align content */
}

.message-notification p {
  margin-bottom: 10px;
}

.message-notification button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.message-notification button:hover {
  background-color: #0056b3;
}